<div class="col-md-5 centered card card-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Create your Account</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <br/>
                <button class="btn btn-lg btn-primary centered" type="submit">Register</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% form_theme form 'form/fields.html.twig' %}