{% extends 'base.html.twig' %}
{% block title %}Log in{% endblock %}

{% block body %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                {{ form_start(form) }}
                    <div class="form-label-group col-md-5 mx-auto">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <br/>
                        <button class="btn btn-lg btn-primary" type="submit">Register</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </header>
{% endblock %}
{% form_theme form 'form/fields.html.twig' %}
