{%extends 'base.html.twig'%}
{%block title%}Your Mail Box{%endblock%}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/messages-style.css') }}">
{% endblock %}
{%block body%}
	
	<header class="head">
		<div class="container">
			<h1 class="title">Admin Panel</h1>
			<div class="row">
				
				<div class="col-md-2 list-group account-menu">
					<a class="list-group-item list-group-item-action active" href="{{path('admin_block')}}"><i class="fas fa-clone"></i> Content</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_group')}}"><i class="fas fa-child"></i> Groups</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_user')}}"><i class="fas fa-user-friends"></i> Users</a>
				</div>
				
				<div class="col-md-10 well account-content">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Announcements</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{%if message is defined%}
										<div class="alert alert-success alert-dismissible fade show" role="alert">
											{{message}}
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
									{%endif%}
									<table class="table table-bordered">
										<thead>
										<tr>
											<th>Title</th>
											<th>Visible</th>
											<th>Hidden</th>
											<th>Actions</th>
										</tr>
										</thead>
										
									
									</table>
									<hr>
									<h5>Create Announcement</h5>
									{{form_start(form)}}
									{{form_row(form.title)}}
									{{form_row(form.groups)}}
									{{form_row(form.message)}}
									{{form_row(form.pictures)}}

									{{form_row(form.public)}}
									{{form_row(form.hidden)}}
									{{form_row(form.commenting)}}
									<button class="btn btn-secondary" type="submit">Create</button>
									{{form_end(form)}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{%endblock%}
{% form_theme form 'form/fields.html.twig' %}