{%extends 'base.html.twig'%}
{%block title%}Admin Panel - Children{%endblock%}
{%block stylesheets%}
	<link rel="stylesheet" href="{{asset('css/messages-style.css')}}">
{%endblock%}
{%block body%}
	
	<header class="head">
		<div class="container">
			<h1 class="title">Admin Panel</h1>
			{{ block("block_notifs", "base.notifs.html.twig") }}
			<div class="row">
				
				<div class="col-md-2 list-group account-menu">
					<a class="list-group-item list-group-item-action" href="{{path('admin_block')}}"><i class="fas fa-clone"></i> Content</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_group')}}"><i class="fa fa-cubes"></i> Groups</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_enrollments')}}"><i class="fa fa-book"></i> Enrollments</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_users')}}"><i class="fas fa-user-friends"></i> Users</a>
					<a class="list-group-item list-group-item-action active" href="{{path('admin_children')}}"><i class="fas fa-child"></i> Children</a>
				</div>
				
				<div class="col-md-10 well account-content">
					<div class="card card-shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Children</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{%if allergies_flag%}
										<a class="btn btn-secondary" href="{{path('admin_children')}}">Show All</a>
									{%else%}
										<a class="btn btn-secondary" href="{{path('admin_children_allergies', {'allergies_flag': true})}}">Show Only With Allergies or Medications</a>
									{%endif%}
									{%if mode == 'Edit'%}
										<h5>Edit Child</h5>
										<a href="{{path('admin_children')}}"><button class="btn btn-secondary">Close Edit Form</button></a>
										{{form_start(form)}}
											{{form_row(form.first_name)}}
											{{form_row(form.last_name)}}
											{{form_row(form.assignedGroup)}}
											{{form_row(form.allergies)}}
											{{form_row(form.medication)}}
											<button class="btn btn-secondary" type="submit">Edit</button>
										{{form_end(form)}}
										<hr>
									{%endif%}
									<table
											id="table"
											data-toggle="table"
											data-search="true"
											data-height="460"
											data-show-columns="true"
											data-sortable="true"
											data-pagination="true"
											data-page-size="10"
											data-advanced-search="true"
											data-id-table="advancedTable"
									>
										<thead>
										<tr>
											<th data-field="firstName" data-sortable="true">First Name</th>
											<th data-field="lastName" data-sortable="true">Last Name</th>
											<th data-field="birthDate" data-sortable="true">Birth Date</th>
											<th data-field="group" data-sortable="true">Group</th>
											<th data-field="caretakers" data-sortable="true">Caretakers</th>
											<th data-field="allergies" data-sortable="true">Allergies</th>
											<th data-field="medications" data-sortable="true">Medications</th>
											<th data-field="actions" data-sortable="true">Actions</th>
										</tr>
										</thead>
										
										<tbody>
										{%for child in children%}
											<tr>
												<td>{{child.firstName}}</td>
												<td>{{child.lastName}}</td>
												<td>{{child.birthDate|date("Y-m-d")}}</td>
												<td>
													{%if child.assignedGroup is not null%}
														{{child.assignedGroup.name}}
													{%endif%}
												</td>
												<td>
													{% set caretakrs = caretakers[loop.index0] %}
													{%for c in caretakrs%}
														{{c.firstName}} {{c.lastName}}{%if not loop.last%}, {%endif%}
													{%endfor%}
												</td>
												<td>{{child.allergies}}</td>
												<td>{{child.medication}}</td>
												<td>
													<a class="edit" href="{{path('admin_child_edit', {'child_id': child.id})}}" title="Edit" data-toggle="tooltip"><i class="fas fa-pen-square"></i></a>
													<a class="delete" href="{{path('admin_child_delete', {'child_id': child.id})}}" title="Delete" data-toggle="tooltip"><i class="fas fa-minus-square"></i></a>
												</td>
											</tr>
										{%endfor%}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{%endblock%}
{%if mode == 'Edit'%}
	{% form_theme form 'form/fields.html.twig' %}
{%endif%}