{%extends 'base.html.twig'%}
{%block title%}Your Mail Box{%endblock%}
{%block stylesheets%}
	<link rel="stylesheet" href="{{asset('css/messages-style.css')}}">
{%endblock%}
{%block body%}
	
	<header class="head">
		<div class="container">
			<h1 class="title">Admin Panel</h1>
			<div class="row">
				
				<div class="col-md-2 list-group account-menu">
					<a class="list-group-item list-group-item-action" href="{{path('admin_block')}}"><i class="fas fa-clone"></i> Content</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_group')}}"><i class="fa fa-cubes"></i> Groups</a>
					<a class="list-group-item list-group-item-action active" href="{{path('admin_enrollments')}}"><i class="fa fa-book"></i> Enrollments</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_users')}}"><i class="fas fa-user-friends"></i> Users</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_children')}}"><i class="fas fa-child"></i> Children</a>
				</div>
				
				<div class="col-md-10 well account-content">
					<div class="card card-shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Enrollments</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% if mode == 'Edit' %}
										<a href="{{path('admin_enrollments')}}"><button class="btn btn-secondary">Add New</button></a>
									{% endif %}
									<h5>{{mode}} Enrollments</h5>
									{{form_start(form)}}
									{% if mode == 'Create' %}
										{{form_row(form.firstName)}}
										{{form_row(form.lastName)}}
									{% endif %}
									{{form_row(form.email)}}
									{{form_row(form.canAddChild)}}
									{% if mode == 'Edit' %}
										{{form_row(form.expired)}}
									{%endif%}
									{{form_row(form.group)}}
									<button class="btn btn-secondary" type="submit">{{mode}}</button>
									{{form_end(form)}}
									<hr>
									<a class="btn btn-secondary" href="{{path('admin_enrollments_delete_expired')}}">Delete Expired Enrollments</a>
									<table
											id="table"
											data-toggle="table"
											data-search="true"
											data-height="460"
											data-show-columns="true"
											data-sortable="true"
											data-pagination="true"
											data-page-size="10"
											data-advanced-search="true"
											data-id-table="advancedTable"
									>
										<thead>
										<tr>
											<th data-field="email" data-sortable="true">Email</th>
											<th data-field="canAddChild" data-sortable="true">Can add child</th>
											<th data-field="group" data-sortable="true">Group</th>
											<th data-field="enrollment_hash" data-sortable="true">Enrollment Code</th>
											<th data-field="date" data-sortable="true">Creation Date</th>
											<th data-field="expired" data-sortable="true">Expired</th>
											<th data-field="actions" data-sortable="true">Actions</th>
										</tr>
										</thead>
										
										<tbody>
										{%for enrl in enrollments%}
											<tr>
												<td>{{enrl.email}}</td>
												<td>
													{%if enrl.canAddChild%}
														Yes
													{%else%}
														No
													{%endif%}
												</td>
												<td>
													{%if enrl.canAddChild%}
														{{enrl.group.name}}
													{%endif%}
												</td>
												<td class="ellipsis">
													<i class="clipboard_btn fa fa-clipboard" data-toggle="tooltip"></i>
													<a id="enrl{{enrl.id}}" class="enrl_code" href="{{path('register', {'enrollment_hash': enrl.enrollmenthash})}}">localhost:8000{{path('register', {'enrollment_hash': enrl.enrollmenthash})}}</a>
												</td>
												<td>{{enrl.creationdate|date("Y-m-d H:i:s")}}</td>
												<td>
													{%if enrl.expired%}
														Yes
													{%else%}
														No
													{%endif%}
												</td>
												<td>
													<a class="edit" href="{{path('admin_enrollment_edit', {'enrollment_id': enrl.id})}}" title="Edit" data-toggle="tooltip"><i class="fas fa-pen-square"></i></a>
													<a class="delete" href="{{path('admin_enrollment_delete', {'enrollment_id': enrl.id})}}" title="Delete" data-toggle="tooltip"><i class="fas fa-minus-square"></i></a>
												</td>
											</tr>
										{%endfor%}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{%endblock%}
{% form_theme form 'form/fields.html.twig' %}