{%extends 'base.html.twig'%}
{%block title%}Your Mail Box{%endblock%}
{%block stylesheets%}
	<link rel="stylesheet" href="{{asset('css/messages-style.css')}}">
{%endblock%}
{%block body%}
	
	<header class="head">
		<div class="container">
			<h1 class="title">Admin Panel</h1>
			{{ block("block_notifs", "base.notifs.html.twig") }}
			<div class="row">
				
				<div class="col-md-2 list-group account-menu">
					<a class="list-group-item list-group-item-action" href="{{path('admin_block')}}"><i class="fas fa-clone"></i> Content</a>
					<a class="list-group-item list-group-item-action active" href="{{path('admin_group')}}"><i class="fa fa-cubes"></i> Groups</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_enrollments')}}"><i class="fa fa-book"></i> Enrollments</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_users')}}"><i class="fas fa-user-friends"></i> Users</a>
					<a class="list-group-item list-group-item-action" href="{{path('admin_children')}}"><i class="fas fa-child"></i> Children</a>
				</div>
				
				<div class="col-md-10 well account-content">
					<div class="card card-shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Groups</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% if mode == 'Edit' %}
										<a href="{{path('admin_group')}}"><button class="btn btn-secondary">Add New</button></a>
									{% endif %}
									<h5>{{mode}} Group</h5>
									{{form_start(form)}}
									{{form_row(form.name)}}
									{{form_row(form.max_capacity)}}
									<button class="btn btn-secondary" type="submit">{{mode}}</button>
									{{form_end(form)}}
									<hr>
									<table
											id="table"
											data-toggle="table"
											data-search="true"
											data-height="460"
											data-show-columns="true"
											data-sortable="true"
											data-pagination="true"
											data-page-size="10"
											data-advanced-search="true"
											data-id-table="advancedTable"
									>
										<thead>
										<tr>
											<th data-field="name" data-sortable="true">Name</th>
											<th data-field="capacity" data-sortable="true">Capacity</th>
											<th data-field="registered" data-sortable="true">Registered</th>
											<th data-field="actions" data-sortable="true">Actions</th>
										</tr>
										</thead>
										<tbody>
										{%for grp in groups%}
											<tr>
												<td>{{grp.name}}</td>
												<td>{{grp.MaxCapacity}}</td>
												<td>{{grp.children|length}}</td>
												<td>
													<a class="edit" href="{{path('admin_group_edit', {'group_id': grp.id})}}" title="Edit" data-toggle="tooltip"><i class="fas fa-pen-square"></i></a>
													{%if grp.children|length < 1%}
														<a class="delete" href="{{path('admin_group_delete', {'group_id': grp.id})}}" title="Delete" data-toggle="tooltip"><i class="fas fa-minus-square"></i></a>
													{%endif%}
												</td>
											</tr>
										{%endfor%}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{%endblock%}
{% form_theme form 'form/fields.html.twig' %}