{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block body %}
    <header class="head">
        <div class="masthead-content">
            <div class="container">
                <h1 class="title" style="text-align: center">{{ block.getTitle }}</h1>
            </div>
        </div>
    </header>
    {{ block("block_notifs", "base.notifs.html.twig") }}
    {%if block is defined %}
        <section>
            <div class="container block-post">
                <div class="row row-eq-height">
                    <div class="col-md-10 mb-md-4 block-img centered">
                    {{ block("block_image", "index_images.html.twig") }}
                    </div>
                    <br><br>
                    <div class="col-md-12 card rounded-circle">
                        <div class="p-content">
                            <label>{{ block.getCreationDate|date("D d M, Y") }}</label>
                            {% if block.isCommenting %}
                                <i class="fas fa-comment"></i>
                                {{ block.comments|length }}
                            {% else %}
                                <i class="fas fa-comment-slash"></i>
                            {% endif%}
                            <p>{{ block.getMessage }}</p><hr>
                            {% if block.isCommenting %}
                                {% for comment in block.comments %}
                                    <label><strong>{{ comment.user.firstName }} {{ comment.user.lastName}}</strong></label>
                                    <a>{{comment.getCreationDate|date("D d M, Y") }}</a>
                                    <br>
                                    <a>{{ comment.getText }}</a>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD') %}
                                        <br>
                                        <a href="{{ path('comment_delete', {'comment_id': comment.id })}}"><i class="fas fa-trash-alt"></i> Delete</a>
                                    {% endif %}
                                    <hr>
                                {% endfor %}
                            {% endif %}
                            {% if block.isCommenting and form is defined and is_granted('IS_AUTHENTICATED_FULLY') %}
                                <h4>Add Reply</h4>
                                {{ form_start(form)}}
                                {{form_row(form.message)}}
                                <button class="btn btn-secondary" type="submit">Reply</button>
                                {{form_end(form)}}
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="container">
            <h2 class="title">There is no announcements for you at this moment.</h2>
        </div>
    {% endif %}
{% endblock %}
{% form_theme form 'form/fields.html.twig' %}