{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="col-md-9 card centered card-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>You can send us a message.</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <p>Send us a message and we will reply as soon as possible.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.message) }}
                            <br/>
                            <a  class="btn btn-lg btn-light" href="{{ path('index') }}">Back</a>
                            <button class="btn btn-lg btn-primary" type="submit">Send</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% form_theme form 'form/fields.html.twig' %}
