{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block body %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">Every sunrise,</h1>
                    <h2 class="masthead-subheading mb-0">with care and love.</h2>
                    <a href="{{ path('contact') }}" class="btn btn-primary btn-xl rounded-pill mt-5">Contact us</a>
                </div>
            </div>
        </header>
    {% else %}
        <header class="head">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="title">Welcome {{ app.user.firstName }} !</h1>
                </div>
            </div>
        </header>
    {% endif %}
    {{ block("block_notifs", "base.notifs.html.twig") }}
    {%if blocks is defined and blocks|length > 0%}
        {% for block in blocks %}
            <section>
                <div class="container block-post">
                    <div class="row row-eq-height">

                        {%if loop.index is divisible by(2) %}
                        <div class="col-6 mb-md-4 block-img">
                            {{ block("block_image", "index_images.html.twig") }}
                        </div>
                        {%endif%}
                        <div class="col-6 mb-md-4 card rounded-circle {%if loop.index is divisible by(2) %}even-align{%endif%}">
                            <div class="p-content">
                                <a href="{{ path('block', {'block_id' : block.id})}}"><h2 class="display-5">{{ block.getTitle }}</h2></a>
                                <label>{{ block.getCreationDate|date("D d M, Y") }}</label>
                                {% if block.isCommenting %}
                                    <i class="fas fa-comment"></i>
                                    {{ block.comments|length }}
                                {% else %}
                                    <i class="fas fa-comment-slash"></i>
                                {% endif%}
                                <hr>
                                <p class="">
                                    {{ block.getMessage }}
                                </p>
                                </p>
                            </div>
                        </div>
                        {%if loop.index is not divisible by(2)%}
                        <div class="col-6 mb-md-4 block-img">
                            {{ block("block_image", "index_images.html.twig") }}
                        </div>
                        {%endif%}
                    </div>
                </div>
            </section>
        {% endfor %}
    {% else %}
        <div class="container">
            <h2 class="title">There is no announcements for you at this moment.</h2>
        </div>
    {% endif %}
{% endblock %}