{% extends 'base.html.twig' %}
{% block title %}Your Mail Box{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messages-style.css') }}">
{% endblock %}
{% block body %}

    <header class="head">
        <div class="container">
            <h1 class="title">Inbox</h1>
            <div class="row">


            <div class="col-md-2 list-group account-menu">
                <a class="list-group-item list-group-item-action active" href="{{ path('messages_inbox') }}" data-target-id="inbox"><i class="fas fa-inbox"></i> Inbox</a></li>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_new') }}" data-target-id="new_message"><i class="fas fa-share-square"></i> New Message</a></li>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_sent') }}" data-target-id="sent"><i class="fas fa-envelope"></i> Sent Messages</a></li>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_drafts') }}" data-target-id="drafts"><i class="fas fa-envelope-open"></i> Drafts</a></li>
                <a class="list-group-item list-group-item-action" href="{{ path("profile") }}"><i class="fas fa-user-circle"></i> Profile</a></li>
            </div>

            <div class="col-md-10 account-content" id="inbox">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="ms_{{ message.id }}_sender">
                                    {{ message.sender_inbox.user.firstName }} {{ message.sender_inbox.user.lastName }}
                                </div>
                                <div id="ms_{{ message.id }}_date">
                                    {{ message.date_sent|date("Y-m-d H:i:s") }}
                                </div>
                                <div id="ms_{{ message.id }}_title">
                                    {{ message.title }}
                                </div>
                                <div id="ms_{{ message.id }}_preview">
                                    {{ message.message_file }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    </div>
{% endblock %}