{% extends 'base.html.twig' %}
{% block title %}Your Mail Box{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messages-style.css') }}">
{% endblock %}
{% block body %}

    <header class="head">
        <div class="container">
            <h1 class="title">Inbox</h1>
            <div class="row">


            <div class="col-md-2 list-group account-menu">
                <a class="list-group-item list-group-item-action" href="{{ path('messages_inbox') }}"><i class="fas fa-inbox"></i> Inbox</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_new') }}"><i class="fas fa-share-square"></i> New Message</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_sent') }}"><i class="fas fa-envelope"></i> Sent Messages</a>
                <!--<a class="list-group-item list-group-item-action" href="{{ path('messages_drafts') }}"><i class="fas fa-envelope-open"></i> Drafts</a>-->
                <a class="list-group-item list-group-item-action" href="{{ path("profile") }}"><i class="fas fa-user-circle"></i> Profile</a>
            </div>

            <div class="col-md-10 account-content">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="ms_display_title" id="ms_{{ message.id }}_title">{{ message.title }}</h3>
                                <div class="ms_display_sender_row">
                                    <span class="ms_display_sender_lbl">Sender: </span>
                                    <span id="ms_{{ message.id }}_sender" class="ms_display_sender">
                                    {{ message.sender_inbox.user.firstName }} {{ message.sender_inbox.user.lastName }}
                                    </span>
                                </div>
                                <div class="ms_display_date_row">
                                    <span class="ms_display_date_lbl">Date sent: </span>
                                    <span id="ms_{{ message.id }}_date" class="ms_display_date">
                                    {{ message.date_sent|date("Y-m-d H:i:s") }}
                                    </span>
                                </div>
                                <div class="ms_display_receivers_row">
                                    <span class="ms_display_receivers_lbl">To: </span>
                                    <span class="ms_display_receivers">
                                        {% for mr in msr %}
                                            {{ mr.receiver_inbox.user.firstName }} {{ mr.receiver_inbox.user.lastName }}
                                            {% if not loop.last %}
                                                ,
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                <hr>
                                <div class="ms_display_attachments_row">
                                    <span class="ms_display_attachments_lbl">Attachments: </span>
                                    <div class="attachments_container">
                                    {%for attch in attachments%}
                                        <span class="ms_display_attachment">
                                            <a class="attachment_link" href="{{ path("attachment_download", {'message_id': message.id, 'attachment_id': attch.id}) }}" target="_blank">
                                                <img class="attachment_icon" src="/img/file_download_icon.png" alt="download_attachment_icon">
                                                {{ attch.file_name }}
                                            </a>
                                        </span>
                                    {%endfor%}
                                    </div>
                                </div>
                                <hr>
                                <div id="ms_{{ message.id }}_preview" class="ms_display">
                                    {{ message.message_file }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}