{% extends 'base.html.twig' %}
{% block title %}Your Mail Box{% endblock %}
{% block body %}

    <header class="head">
        <div class="container">
            <h1 class="title">Inbox</h1>
            {{ block("block_notifs", "base.notifs.html.twig") }}
            <div class="row">


            <div class="col-md-2 list-group account-menu">
                <a class="list-group-item list-group-item-action" href="{{ path('messages_inbox') }}"><i class="fas fa-inbox"></i> Inbox</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_new') }}"><i class="fas fa-share-square"></i> New Message</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_sent') }}"><i class="fas fa-envelope"></i> Sent Messages</a>
                <!--<a class="list-group-item list-group-item-action active" href="{{ path('messages_drafts') }}"><i class="fas fa-envelope-open"></i> Drafts</a>-->
                <a class="list-group-item list-group-item-action" href="{{ path("profile") }}"><i class="fas fa-user-circle"></i> Profile</a>
            </div>

            <div class="col-md-10 well account-content">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Drafts</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Drafts to be there</span>
                                <!-- drafts to be here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}