{% extends 'base.html.twig' %}
{% block title %}Your Mail Box{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messages-style.css') }}">
{% endblock %}
{% block body %}

    <header class="head">
        <div class="container">
            <h1 class="title">Inbox</h1>
            <div class="row">


            <div class="col-md-2 list-group account-menu">
                <a class="list-group-item list-group-item-action active" href="{{ path('messages_inbox') }}"><i class="fas fa-inbox"></i> Inbox</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_new') }}"><i class="fas fa-share-square"></i> New Message</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_sent') }}"><i class="fas fa-envelope"></i> Sent Messages</a>
                <a class="list-group-item list-group-item-action" href="{{ path('messages_drafts') }}"><i class="fas fa-envelope-open"></i> Drafts</a>
                <a class="list-group-item list-group-item-action" href="{{ path("profile") }}"><i class="fas fa-user-circle"></i> Profile</a>
            </div>

            <div class="col-md-10 account-content">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Inbox</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {%if messages_in|length < 1%}
                                    <h4>Empty</h4>
                                {%endif%}
                                {% for mr in messages_in %}
                                    <a class="ms_link" href="{{ path('message', {'message_id': mr.message.id}) }}">
                                        <div id="ms_{{ mr.message.id }}" class="ms_container {% if mr.read_flag == false %} unread_ms {% endif %}">
                                            <div id="ms_{{ mr.message.id }}_sender" class="ms_sender ellipsis">
                                                {{ mr.message.sender_inbox.user.firstName }} {{ mr.message.sender_inbox.user.lastName }}
                                            </div>
                                            <div id="ms_{{ mr.message.id }}_title" class="ms_title ellipsis">
                                                {{ mr.message.title }}
                                            </div>
                                            <div id="ms_{{ mr.message.id }}_preview" class="ms_preview ellipsis">
                                                {%set preview = mr.message.message_file%}
                                                {% if preview|length > 250%}
                                                    {{preview|slice(0, 250)}}
                                                {%else%}
                                                    {{ preview }}
                                                {%endif%}
                                            </div>
                                            <div id="ms_{{ mr.message.id }}_date" class="ms_date">
                                                {{ mr.message.date_sent|date("Y-m-d H:i:s") }}
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="ms_divider">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}